{# templates/ajout_logo/ajoutlogo.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un logo
{% endblock %}

{% block body %}
  {% if not app.user or 'ROLE_ADMIN' not in app.user.roles %}
        <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits d'accéder à cette page.
        </div>
    {% else %}

	<h1>Ajouter un logo</h1>

	{{ form_start(logo) }}
	{{ form_row(logo.image_logo) }}
	{{ form_row(logo.description_logo) }}

	<button type="submit">Ajouter le logo</button>
	{{ form_end(logo) }}
  {% endif %}
{% endblock %}


