{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<h1 style="margin-left: 35px;">Formulaire d'Inscription</h1>

 <div style="width: 250px;margin-left:35px">
  {{ form(user) }} 
</div>

{% endblock %}


