{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
	<h1>Dashboard !
	</h1>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.4.1/highcharts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/11.4.1/modules/exporting.min.js"></script>
	<script>
		{{ chart(chart) }}
		{{ chart(chart2) }}
		
	</script>

	<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	<div id="container2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


{% endblock main %}
