{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<header>
	<img src="{{ asset('img/logo_img2.png') }}" alt="">
		<h1>Chic Mademoiselle</h1>
		<div class="invisible">  </div>
		


		<div id="searchResults"></div>


		<div class="barre">
			<div class="icone">
				<a class="seConnecter" href="{{path('app_login')}}">Se Connecter</a>
				<a class="inscription" href="{{path('app_register')}}">Inscription</a>
				<i class="fa-solid fa-user"></i>
			</div>

			<div class="icone">
				<a id="panierLink" href="{{ path('afficher_panier') }}">Panier</a>
	

				<i class="fa-solid fa-cart-shopping"></i>
			</div>

			<div class="icone">
				<a href="">Contact</a>
				<i class="fa-solid fa-envelope"></i>
			</div>
		</div>
		<div class="invisible2">  </div>

	</header>
{% endblock %}
