{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="message_paiement">Votre paiement a été effectué avec succès. Merci pour votre confiance.</h1>
<div ><img src="{{ asset('img/goodbye.jpg') }}"style="display:block; margin:auto;" alt="" width="350" height="300"></div>

{% endblock %}