{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="message_paiement">Votre paiement a été effectué avec succès. Merci pour votre confiance.</h1>

{% endblock %}