 <div id="footer" class="block_footer1">
	<div class="block_footer2" >
			

		<div class="partie_finale">
		<div class="invisible_footer"></div>
			<a href="{{ path('app_a_propos_de_nous') }}">A Propos De Nous</a>

		</div>	

		<div class="partie_finale">
				<div class="contact_final">
					<h2>Nous Contacter</h2>
					<i class="fa-solid fa-envelope"></i>
					<i class="fa-solid fa-phone"></i>
				</div>

				<p>Nous contacter
														+33 6 51 48 90 88
														(Appel Non Surtaxé)
				</p>
				<p>ous pouvez nous rejoindre en nous envoyant un message sur notre boite Email suivante : chic_mademoiselle@gmail.com 
																																																																																															</p>

		
		</div>

		<div class="partie_finale">
	        <h2>Notre Livraison</h2>	
			<p>Toutes les commandes sont envoyées via Colissimo UPS ou Chronopost.
															Les commandes effectuées le samedi et le dimanche seront traitées le lundi suivant. <br>Livraison standard gratuite dès 60€ d'achat</p>

		</div>

		

	</div>

	<hr>
		<h4>Tous les droits sont réservés <i class="fa-solid fa-copyright"></i> -2024</h4>
</div>